<div class="home-wrapper">
  <div class="intro">
    <div class="introText">
      <h2>THE CORNERSTONE TO YOUR NEXT ADVENTURE</h2>
    </div>
  </div>
  <section>
    <div>
      <nav-bar></nav-bar>
    </div>
    <div class="mainContent">
       <img ng-src="../images/firehouse.png" alt="Firehouse Ruin">
      <div class="mainContentText">
        <p>Lucas ipsum dolor sit amet xanatos dantari vestara annoo selkath triclops vor borsk panaka ors. Solo draethos fel sebulba nute jinn wessell melodie. Ventress r4-p17 falleen raioballo sarn fosh hallotan sidious. Sulorine baba hoth tatooine hutt halla. Darklighter daala ventress tatooine senesca yuzzem. Nar coruscant iego hutta nal haruun jabiimas mon hutt. Orus lars sarn muunilinst. Hssis naberrie nar sy padmé anakin givin shmi. Reach lahara carondian thennqora aayla. Hoojib xizor olié vader piett utapau yuvernian.</p>
        <br>
        <p>Moff amidala ansuroer meridian tython. Yavin saffa duro wookiee darpa anakin. Darth talortai natasi fett mon darth vader neimoidia dantooine. Ka biggs thistleborn chistori jodo jaina. Bail bothawui moff auril lytton mccool d8 whaladon.</p>
        <br>
        <p>Plo colton lahara ikrit braxant nadd. Amanin kasan mirialan tarkin wharl wilhuff piell gotal. Darth kota jinn omwati tib chommell wyl. Kal x2 shimrra pau'an. Kitonak drach'nam nas ralter dagobah mandalorians. Moff huk spar palpatine ackbar ailyn hallotan c-3po. Panaka mace kubaz thistleborn jodo. Chewbacca vong briqualon gamorr cade. Dressellian felucia joruus nass c'baoth fett chewbacca wessell jobal. Gavyn gerb rancisis maarek. Juvex durron isolder moff antemeridian toydarian vos breha reach.</p>
      </div>
    </div>
  </section>

  <footer-dir></footer-dir>
</div>
