<header>
  <nav-bar></nav-bar>
</header>
<section>
  <div class="planningHead">
    <h2>Start Planning Your Adventure Today!</h2>
  </div>
</section>
<section>
  <div class="planningTabWrapper">
    <div class="row">
      <div class="col-md-2 planningTab" ui-sref="lodging">
        <h2>Lodging</h2>
      </div>
      <div class="col-md-2 planningTab" ui-sref="tours">
        <h2>Tours</h2>
      </div>
      <div class="col-md-2 planningTab" ui-sref="camping">
        <h2>National Parks & Monuments</h2>
      </div>
      <div class="col-md-2 planningTab" ui-sref="rentals">
        <h2>Rentals</h2>
      </div>
    </div>
    <div class="planningView">
      <ui-view></ui-view>
    </div>
  </div>
</section>
