@import 'variable';
.intro {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url(../images/ruin.png)no-repeat;
  background-size: cover;
  color: $headerColor;
  height: 300px;
  font-family: $headerFont;
  margin-bottom: 40px;
}
.introText {
  height: 150px;
  width: 33%;
}
.introText h2{
  font-size: 24px;
}
.mainContent {
  height: 350px;
  margin-bottom: 25px;
}
.mainContentText {
  margin-left: 40px;
}
.mainContent img{
  float: right;
  height: 350px;
  width: 300px;
  margin: 5px 40px;
}
.breaker {
  height: 300px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
.teaser {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}
