@import 'variable';
.header {
  background: rgb(172, 27, 3);
}
.home-wrapper {
  background: url('../images/sandstonebg.jpg');
  width: 100%;
  overflow: hidden;
}
.intro {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url(../images/ruin.png)no-repeat;
  background-size: cover;
  color: $headerColor;
  height: $headerHeight;
  font-family: $headerFont;
  margin-bottom: $pageBreak;
}
.introText {
  height: 150px;
  width: 33%;
}
.introText h2{
  font-size: 24px;
}
.mainContent {
  height: auto;
  margin-bottom: $pageBreak;
}
.mainContentText {
  margin-left: $pageBreak;
  color: black;
  font-size: 24px;
}
.mainContent img{
  float: right;
  height: 350px;
  width: 300px;
  margin: 5px 40px;
}
.breaker {
  height: 300px;
  overflow: hidden;
  margin-bottom: $pageBreak;
}
.teaserContainer {
  margin-left: $pageBreak;
}
.teaserContent {
  text-align: center;
  margin-bottom: 12px;
}
.teaser {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  opacity: 0.8;
}
.teaserText {
  color: black;
}
.teaserHead {
  font-size: 24px;
  font-family: $headerFont;
}
.teaserInfo {
  color: black;
  text-align: center;
  font-size: 32px;
}
