@import 'variable';
.header {
  background: rgb(172, 27, 3);
}
.home-wrapper {
  background: url('../images/EmeraldWater.jpg');
  width: 100%;
  overflow: hidden;
}
.intro {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url(../images/ruin.png);
  background-size: cover;
  color: $headerColor;
  height: $headerHeight;
  font-family: $headerFont;
}
.introText {
  height: 150px;
  width: 33%;
  h2{
    font-size: 24px;
  }
}
.mainContent {
  display: flex;
  align-items: center;
  height: 500px;
  margin-bottom: $pageBreak;
  .mainContentText {
    margin-left: $pageBreak;
    color: black;
    font-size: 24px;
    }
}
.mainContent img{
  height: 350px;
  width: 350px;
  margin: 5px 40px;
  border: $imageBorder;
}
.breaker {
  height: 300px;
  overflow: hidden;
  margin-bottom: $pageBreak;
}
.teaserContainer {
  margin-left: $pageBreak;
  .teaserContent {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 12px;
    .teaser {
      height: 300px;
      width: 300px;
      border-radius: 10px;
      opacity: 0.8;
    }
    .teaserHead {
      font-size: 24px;
      font-family: $headerFont;
    }
    .teaserText {
      color: black;
    }
  }
}
.teaserInfo {
  color: black;
  text-align: center;
  font-size: 32px;
}
