@import 'variable';

.planningHead {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url('../images/goosenecks.png')no-repeat;
  background-size: cover;
  height: 275px;
  font-family: $headerFont;
  font-size: 32px;
  color: $headerColor;

  h2 {
    width: 40%;
  }
}
.planningTabWrapper{
  background: tan;
  height: 50px;
  align-text: center;
  .planningTab {
    display: flex;
    align-items: center;
    height: 50px;
    background: tan;
    // border-right: 2px solid brown;
    // border-left: none;
    // border-radius: 15px;
    margin-left: 50px;
    h2 {
      font-size: 24px;
    }
  }

  .planningView {
    height: 550px;
    background: url('../images/DeepSpace.jpg')no-repeat;
    background-size: cover;
    overflow: scroll;
    overflow-x: hidden;
  }
}
