@import "variable";
.weekPlanWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  div {
    margin-top: $pageBreak;
    height: 500px;;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    .day {
      height: auto;
      padding: 20px;
      width: 75%;
      background: white;
      border: 5px solid grey;
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        border-radius: 15px;
      }
    }
  }
}
