@import 'variable';
.tabSection {
.tabWrapper{
  display: inline-block;
  margin-left: 20px;
  height: 480px;
  padding: 15px;
  .tabInfo {
    width: 275px;
    height: 275px;
    color: #444;
        img {
          height: 300px;
          width: 300px;
          border: $imageBorder;
          border-radius: 5px;
          opacity: 0.8
        }
        h1 {
          font-family: $headerFont;
          font-size: 24px;
        }
      }
  }
}
